*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 400px;
  border: 1px solid black;
  /* margin: 10px auto; */
  padding: 10px;
  margin: 20px;
}

.container input{
  width: 100%;
  height: 25px;
}

.block{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
